# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.png
*.bmp
*.jpg
*.jpeg
*.bak
*.tmp
*.tlb
*.cache
*.zip
*.mfb
*.suo
*.gif
*.log
*/obj/*
*/bin/*
# Precompiled Headers
*.gch
*.pch
*.msi
*.exe*
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
