<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net45" />
  <package id="AipSdk.dll" version="1.0.0" targetFramework="net40" />
  <package id="Antlr3" version="3.5.1" targetFramework="net40" developmentDependency="true" />
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net40" />
  <package id="EMGU.CV" version="3.3.0.2824" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="log4net" version="2.0.8" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="NHibernate" version="5.0.3" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.1.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net45" requireReinstallation="true" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net45" />
</packages>